.table{
    width: 100%;
    border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd){

    background-color: #f4f4f4;
}

.table td,
.table th {
    text-align: left;
    border:0.5rem solid #e4e4e4;
    padding: 0.8rem;  
}

.table button{
    margin: 0 0.2rem;
}

.ordersInfo{

    border: 3px solid black;
    width: 80rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: rgb(11, 11, 22);
    background-color: rgb(228, 201, 201);
    text-align:center;
}

.noPaid{

    margin-top: 2rem;
}