.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
  }
.details-img {
    flex: 2 1 60rem;
  }
.details-img img {
    max-width: 60rem;
    width: 100%;
  }
.details-info {
    flex: 1 1 30rem;
  }
.details-action {
    flex: 1 1 30rem;
  }
.details-info ul,
.details-action ul {
    list-style-type: none;
    padding: 0;
  }
.details-info li,
.details-action li {
    margin-bottom: 1rem;
  }
.back-to-result {
    padding: 1rem;
  }
.details-action {
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
  }
.details-action ul li:last-child {
    display: flex;
    flex-direction: column;
  }
.button {
    padding: 1rem;
    border: 0.1rem white solid;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
    background-color: rgb(247, 231, 231);

  }
.button:hover {
    border: 0.1rem #404040 solid;
  }
  
.button.primary {
    background-color: #c8d3d1;
  }
.button.secondary {
    background-color: #f0f0f0;
  }

.increment {
    border: 0.1rem white solid; 
    font-size: 2.5rem;
    width: 3rem;
    height: 3.1rem;
     background-color:white;
  }
b{
    font-size:2rem;
  }
.text-center {
    text-align: center;
  } 

.nomore{

    color: red;
    font-size: 1.5rem;
    font-weight: bold;
  }

 